:root {
  font-size: $font-size-base;
}
html, body {
  color: $black;
  font-family: $main-font;
  font-size: .875rem;
  font-weight: 400;
  height: 100%;
  a {
    &:hover {
      text-decoration: none;
    }
  }
  header {
    
    
    
    .headerSecundario { 
      width: 100%; 
      background-color: $salmon;
    }
        h1 {
          color: $black;
          font-family: $titulo-header;
          font-size: 3rem;

          &.intro {
            color: $blanco;
            -webkit-text-stroke: 2px $topo;
            font-family: $titulo-header;
            position: absolute;
            top: 0px;
            left: 5%;
            font-size: 2rem;

            @media only screen and (min-width: 375px)  {
              font-size: 3rem;
              top: -16px;
              left: 5%;
              }
            @media only screen and (min-width: 576px) {
              font-size: 4rem;
              top: -30px;
              left: 5%;
              }
            @media only screen and (min-width: 768px) {
              font-size: 7rem;
              top: -70px;
              left: 5%;
            }
            @media only screen and (min-width: 992px) {
              font-size: 8rem;
              top: -90px;
              left: 5%;
            }
            @media only screen and (min-width: 1200px) {
              font-size: 8rem;
              top: -110px;
              left: 5%;
            }
          }
           
        }
       .bg-agua { background-color: $agua;}
       .bg-nav {
          background-color: $agua;
        }
       .navbar-light .navbar-nav .nav-link {
         color: rgba(0, 0, 0, 0.5);
        }
     /* change the link color */
       .navbar-light .navbar-nav .nav-link {
          color:$black;
          font-size: 1rem;
        }
        /* color hover links */
        .navbar-light .nav-item.active .nav-link,
        .navbar-light .nav-item:hover .nav-link {
          color: #ffffff;
        }
        /* boton search */
        .btn-buscar {
          color: $blanco;
          background-color: transparent;
          background-image: none;
          border-color: $blanco;
        }
        .btn-buscar:hover {
          color: $salmon;
          background-color: $blanco;
          border-color: $blanco;
        }
        .relleno {
          background-color: $agua;
          animation-name: intro;
          animation-iteration-count: 1;
          animation-timing-function: ease-in;
          animation-duration: 5s;
          animation-delay: 0s;
          animation-fill-mode: forwards;
          display: inline-block;
          }
        @keyframes intro {
          0% { background-color:$agua;}
          50% { background-color:$blanco;}
          75% { background-color:$blanco;}
          100%{ background-color: $salmon;}
        }
        .top{ height: 2vh; }
        .bottom { height: 10vh;}
        .noPadding { padding: 0;}
        .rectangulo {
          background-color: $agua;
          width: 11%;
          height: 14%;
          position: absolute;
          right: 0;
          bottom: 0;
          display: flex;
          align-items: center;
          justify-content: center;
        }
  }

  h2 {
    font-family: $main-font;
    font-size: 2rem;
    color: black;

      &.tituloSeccion {
        padding: 1%;
        border-left: 5px solid #c1f5cf;
        @media only screen and (min-width: 375px)  {
          font-size: 1.8rem;          
          }
      }
      &.tituloPost {
        font-family:$tituloPost;
        font-weight: 400;
        font-size: 3rem;
      }
  }
/* main index*/
.card-post {
   h6 {
     color: $salmon;
   }
  .book {
    text-align: center;
    width: 30%;
   }
   .btn-indexCard {
    color: $topo;
    background-color: $salmon;
    border-color: $blanco;
  }
   .soft-colour { 
    border: none;
    color: #343434;
    background-color: #c1f5cf;
    opacity: 1;}
}
/* Resenas */
.titulo {
  .tituloResena {
    font-family: $tituloResena;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: $topo;
    padding: 2%;
    position: relative;
    top: -20px;
    
       @media only screen and (min-width: 375px)  {
             font-size: 1.7rem;
             top: -28px;
        }
        @media only screen and (min-width: 576px) {
          font-size: 2rem;
          top: -35px;
        }
        @media only screen and (min-width: 768px) {
          font-size: 3rem;
          top: -50px;
        }
        @media only screen and (min-width: 992px) {
          font-size: 3rem;
          top: -48px;
        }
        @media only screen and (min-width: 1200px) {
          font-size: 3rem;
          top: -52px;
        }
  }     
  .titulo-bg {
    background-color: $agua;
    height: 10px;
  
        @media only screen and (min-width: 768px)  {
          height: 14px;
        }
 }
 .tituloAutor {
  position: relative;
  top: -28px;
      @media only screen and (min-width: 576px)  {
      top: -60px;
      }
 }
}
.card {
  &.sinopsis {
    background: linear-gradient(to left, $gray, $blanco);
    opacity: 0.9;
  }

}
  
.table .thead-light th {
  color: $black;
  font-size: $main-font;
  background-color:$agua;
  border-color: $gray;
} 
  



/* Formulario */
 .fdoForm {
  
  .espacioForm {
    height: 3vh;
          
          @media only screen and (min-width: 576px) {
            height: 0vh;
            }
          @media only screen and (min-width: 768px) {
            height: 0vh;
          }
          @media only screen and (min-width: 992px) {
            height: 18vh;
          }
          @media only screen and (min-width: 1200px) {
            height: 30vh;
          }
  }
  
  
  .contactame { 
    font-family:$tituloSeccion;
    font-size: 2rem;
    border-bottom: 1px solid #c1f5cf;
    color: black;  
    @media only screen and (min-width: 375px)  {
      font-size: 1rem
      }
  }
  .bigicon {
    font-size: 2rem;
    color: $blueContacto;
  }
 
.btnEnviar { 
  background-color: $blueContacto;
color: $blanco;}
}

/* footer index*/
 footer {
    .footColor {
      color: $blanco;
      background-color: $black;
    }
    
  }
  .iconos {
        
        .verticalRedes { 
        color: $blanco;
        font-size: 0.8rem; 
        text-align: center;
        text-align: center;
        margin: 2%;
        
        @media only screen and (min-width: 375px)  {
          font-size: 0.8rem;        
          }
        @media only screen and (min-width: 576px) {
          font-size: 1rem;
          }
          @media only screen and (min-width: 768px) {
            font-size: 2rem;
            }
          @media only screen and (min-width: 992px) {
            font-size: 2.2rem;
              }
          @media only screen and (min-width: 1200px) {
            font-size: 3rem;
                }
        }
        .iconosRedesFooter { 
          color:$blanco;
          font-size: 2rem;
          margin: 3%;
          }
}
div.indice {

.lista {
  text-align: left;
  font-family: $main-font;
  font-size:  10px;
  color: $topo;
  text-transform: uppercase;
  letter-spacing:2px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  line-height: 1.6em;
}
  .lista  i{font-size:10px; color:#000;}
  .lista a:link {color:$salmon; text-decoration:none;}
  .lista a:visited {color:$darkagua; font-style:italic;}
  .lista a:hover {color: $topo; text-decoration:none;}
  .ribbon {
    position: absolute;
    top: 20px;
    right: -5px;
    padding: 15px;
    }
    .ribbon-content{
    position: relative; 
    width: 150px; 
    height: 100px; 
    background: #f1f1f1; 
    border: 1px solid #DDD;    
    }
    .ribbon.base {
    background: #c1f5cf;
    color: #474747;
    border-right: 5px solid #dae7de;
    }
    .ribbon:before, .ribbon:after {
      content: '';
      position: absolute;
      left: -9px;
      border-left: 10px solid transparent;
      }
      .ribbon:before {
      top: 0;
      }
      .ribbon:after {
      bottom: 0;
      }
      .ribbon.base:before {
      border-top: 27px solid #c1f5cf;
      }
      .ribbon.base:after {
      border-bottom: 27px solid #c1f5cf;
      }
      
      .ribbon span {
      display: block;
      font-size: 16px;
      font-weight: 600;
      }
}









}/* html end*/

